<div class="w-screen h-auto">
  <div class="w-10/12 bg-blue-300 p-4 flex flex-row gap-4 mx-auto">
    <!-- Contenido -->
    <div class="w-1/2 bg-green-100">
      <p>hello0</p>
      <p>hello</p>
      <p>hello</p>
      <p>hello</p>
      <p>hello</p>
      <p>hello</p>
      <p>hello</p>
      <p>hello</p>
      <p>hello</p>
      <p>hello</p>
      <p>hello</p>
      <p>hello</p>
      <p>hello</p>
      <p>hello</p>
      <p>hello</p>
      <p>hello</p>
      <p>hello</p>
      <p>hello0</p>
    </div>
    <div class="w-1/2 bg-stone-400">
      <p>hello0</p>
      <p>hello</p>
      <p>hello</p>
      <p>hello</p>
      <p>hello</p>
      <p>hello</p>
      <p>hello</p>
      <p>hello</p>
      <p>hello</p>
      <p>hello</p>
      <p>hello</p>
      <p>hello</p>
      <p>hello</p>
      <p>hello</p>
      <p>hello</p>
      <p>hello</p>
      <p>hello</p>
      <p>hello0</p>
    </div>
  </div>
</div>
